@model IEnumerable<AsturTravel.Models.Destacados>

@{
    ViewData["Title"] = "Index";
}

<div style="background-color: #f2f2f2;
    margin-top:20px;
    border-collapse: collapse;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color:#3a9962;
    padding:20px;">
    <p style="text-align:center">
        En esta sección se muestran los viajes destacados , que serán los que se añadiran al carrusel de la página principal.
    </p>
</div>

<p style="text-align:center;margin-top:20px;">
    <a class="btn btn-dark" asp-action="Create">Añadir viaje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Viaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Viaje.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
