@model IEnumerable<AsturTravel.Models.Viajes>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div id="contenidoViajes">
    <p>
        <a id="btnNuevoViaje" class="btn btn-dark" asp-action="Create">Nuevo viaje</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoViaje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaSalida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaLlegada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destino.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoViaje.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLlegada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <button id="btnEditarViaje" onclick="editarViaje(@item.Id)" style="border:none"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></button> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" style="color: #000000;"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #000000;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="/js/viajes/viajes.js"></script>
    

