@{
    ViewData["Title"] = "Home Page";
}
<style>
    .adminNav {
        background-color:#CAFFB0;
        transition: 0.18s;
    }
    .adminNav :hover {
        background-color: #3a9962;
            transition: 0.18s;
    }

    .adminLink {
        color: #3a9962;
        transition: 0.18s;
    }
    .adminLink:hover{
        color:white;
        transition:0.18s;
    }

    .adminNav:hover .adminLink {
        transform: translateY(3px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .adminNav:hover .adminLink:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     }

    .sombraAdminNav {
        box-shadow: 0px -40px 10px -40px rgba(0, 0, 0, 0.6) inset;
    }

</style>

<div class="text-center">
    
    <div style="background-color: #f2f2f2;
    border-collapse: collapse;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color:#3a9962">
        <h1 class="display-4">Administración AsturTravel</h1>
        <div class="align-content-center sombraAdminNav" style="margin-bottom:10px;">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item adminNav" style="background-color:#CAFFB0;" id="cajaBtnDestinos">
                    <a class="nav-link adminLink" href="" id="btnDestinos">Destinos</a>
				    </li>
                <li class="nav-item  adminNav" style="background-color:#CAFFB0;" id="cajaBtnReservas">
                    <a class="nav-link adminLink" href="" id="btnReservas">Reservas</a>
				    </li>
                <li class="nav-item  adminNav" style="background-color:#CAFFB0;" id="cajaBtnTipos">
                    <a class="nav-link adminLink" href="" id="btnTipos">Tipos de viaje</a>
				    </li>
                <li class="nav-item  adminNav" style="background-color:#CAFFB0;" id="cajaBtnUsuarios">
                    <a class="nav-link adminLink" href="" id="btnUsuarios">Usuarios</a>
				    </li>
                <li class="nav-item  adminNav" style="background-color:#CAFFB0;" id="cajaBtnViajes">
                    <a class="nav-link adminLink" href="" id="btnViajes">Viajes</a>
				    </li>
                <li class="nav-item  adminNav" style="background-color:#CAFFB0;" id="cajaBtnDocumentacion">
                    <a class="nav-link adminLink" href="" id="docsHttp">Documentacion Http</a>
                </li>
			</ul>
        </div>
    </div>
    @*<a href="http://localhost:4200">Serv</a>
    <h1>Con esto se puede hacer que un controlador retorne una url en concreto, ejemplo puesto en practica en privacy</h1>
    <p>return Redirect("http://www.google.com");</p>*@
    <div id="contenidoHome">
        
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>    
<script>

    const btnHttp = document.getElementById("docsHttp");
    const btnDestinos = document.getElementById("btnDestinos");
    const btnReservas = document.getElementById("btnReservas");
    const btnTipos = document.getElementById("btnTipos");
    const btnUsuarios = document.getElementById("btnUsuarios");
    const btnViajes = document.getElementById("btnViajes");


    $(document).ready(function () {

    });
    
    btnDestinos.addEventListener("click",(event)=>{
        event.preventDefault();
        const contenidoHome = $("#contenidoHome");
        document.getElementById("cajaBtnReservas").style.display = "none";
        document.getElementById("cajaBtnTipos").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnViajes").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnDocumentacion").style.display = "none";



        if (btnHttp.classList.contains("active")) {
            // El botón ya está activo, se debe quitar la vista parcial
            contenidoHome.empty();
            btnHttp.classList.remove("active");
            document.getElementById("cajaBtnReservas").style.display = "block";
            document.getElementById("cajaBtnTipos").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnViajes").style.display = "block";
            document.getElementById("cajaBtnDocumentacion").style.display = "block";

         
        } else {
            contenidoHome.html('<i class="fa-solid fa-spinner fa-spin" style="color: #31af4b;font-size:200px;margin-top:10%;"></i>');
            // El botón no está activo, se debe cargar la vista parcial
            $.ajax({
                url: "@Url.Action("PartialIndex", "Destinos")",
                type: 'GET',
                success: function (data) {

                    contenidoHome.html(data);
                    btnHttp.classList.add("active");
                },
                error: function () {
                    console.log("error");
                }
            });
        }

    });
    btnReservas.addEventListener("click",(event)=>{
        event.preventDefault();
        const contenidoHome = $("#contenidoHome");
        document.getElementById("cajaBtnDestinos").style.display = "none";
        document.getElementById("cajaBtnTipos").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnViajes").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnDocumentacion").style.display = "none";

        if (btnHttp.classList.contains("active")) {
            // El botón ya está activo, se debe quitar la vista parcial
            contenidoHome.empty();
            btnHttp.classList.remove("active");

            document.getElementById("cajaBtnDestinos").style.display = "block";
            document.getElementById("cajaBtnTipos").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnViajes").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnDocumentacion").style.display = "block";

        } else {
            contenidoHome.html('<i class="fa-solid fa-spinner fa-spin" style="color: #31af4b;font-size:200px;margin-top:10%;"></i>');
            // El botón no está activo, se debe cargar la vista parcial
            $.ajax({
                url: "@Url.Action("PartialIndex", "Reservas")",
                type: 'GET',
                success: function (data) {

                    contenidoHome.html(data);
                    btnHttp.classList.add("active");
                },
                error: function () {
                    console.log("error");
                }
            });
        }
	});
    btnTipos.addEventListener("click",(event)=>{
        event.preventDefault();
        const contenidoHome = $("#contenidoHome");
        document.getElementById("cajaBtnDestinos").style.display = "none";
        document.getElementById("cajaBtnReservas").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnViajes").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnDocumentacion").style.display = "none";

        if (btnHttp.classList.contains("active")) {
            // El botón ya está activo, se debe quitar la vista parcial
            contenidoHome.empty();
            btnHttp.classList.remove("active");

            document.getElementById("cajaBtnDestinos").style.display = "block";
            document.getElementById("cajaBtnReservas").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnViajes").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnDocumentacion").style.display = "block";
        } else {
            contenidoHome.html('<i class="fa-solid fa-spinner fa-spin" style="color: #31af4b;font-size:200px;margin-top:10%;"></i>');
            // El botón no está activo, se debe cargar la vista parcial
            $.ajax({
                url: "@Url.Action("PartialIndex", "TiposViajes")",
                type: 'GET',
                success: function (data) {

                    contenidoHome.html(data);
                    btnHttp.classList.add("active");
                },
                error: function () {
                    console.log("error");
                }
            });
        }
    });
    btnUsuarios.addEventListener("click",(event)=>{
        event.preventDefault();
        const contenidoHome = $("#contenidoHome");
        document.getElementById("cajaBtnDestinos").style.display = "none";
        document.getElementById("cajaBtnReservas").style.display = "none";
        document.getElementById("cajaBtnTipos").style.display = "none";
        document.getElementById("cajaBtnViajes").style.display = "none";
        document.getElementById("cajaBtnDocumentacion").style.display = "none";

        if (btnHttp.classList.contains("active")) {
            // El botón ya está activo, se debe quitar la vista parcial
            contenidoHome.empty();
            btnHttp.classList.remove("active");
            document.getElementById("cajaBtnDestinos").style.display = "block";
            document.getElementById("cajaBtnReservas").style.display = "block";
            document.getElementById("cajaBtnTipos").style.display = "block";
            document.getElementById("cajaBtnViajes").style.display = "block";
            document.getElementById("cajaBtnDocumentacion").style.display = "block";
        } else {
            contenidoHome.html('<i class="fa-solid fa-spinner fa-spin" style="color: #31af4b;font-size:200px;margin-top:10%;"></i>');
            // El botón no está activo, se debe cargar la vista parcial
            $.ajax({
                url: "@Url.Action("PartialIndex", "Usuarios")",
                type: 'GET',
                success: function (data) {

                    contenidoHome.html(data);
                    btnHttp.classList.add("active");
                },
                error: function () {
                    console.log("error");
                }
            });
        }
    });
    btnViajes.addEventListener("click",(event)=>{
        event.preventDefault();
        const contenidoHome = $("#contenidoHome");
        document.getElementById("cajaBtnDestinos").style.display = "none";
        document.getElementById("cajaBtnReservas").style.display = "none";
        document.getElementById("cajaBtnTipos").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnDocumentacion").style.display = "none";

        if (btnHttp.classList.contains("active")) {
            // El botón ya está activo, se debe quitar la vista parcial
            contenidoHome.empty();
            btnHttp.classList.remove("active");
            document.getElementById("cajaBtnDestinos").style.display = "block";
            document.getElementById("cajaBtnReservas").style.display = "block";
            document.getElementById("cajaBtnTipos").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnDocumentacion").style.display = "block";
        } else {
            contenidoHome.html('<i class="fa-solid fa-spinner fa-spin" style="color: #31af4b;font-size:200px;margin-top:10%;"></i>');
            // El botón no está activo, se debe cargar la vista parcial
            $.ajax({
                url: "@Url.Action("PartialIndex", "Viajes")",
                type: 'GET',
                success: function (data) {

                    contenidoHome.html(data);
                    btnHttp.classList.add("active");
                },
                error: function () {
                    console.log("error");
                }
            });
        }
    });



    btnHttp.addEventListener("click",(event)=>{
        event.preventDefault();
        const contenidoHome = $("#contenidoHome");
        document.getElementById("cajaBtnDestinos").style.display = "none";
        document.getElementById("cajaBtnReservas").style.display = "none";
        document.getElementById("cajaBtnTipos").style.display = "none";
        document.getElementById("cajaBtnUsuarios").style.display = "none";
        document.getElementById("cajaBtnViajes").style.display = "none";

        if (btnReservas.classList.contains("active")) {
            // El botón ya está activo, se debe quitar la vista parcial
            contenidoHome.empty();
            btnReservas.classList.remove("active");
            document.getElementById("cajaBtnDestinos").style.display = "block";
            document.getElementById("cajaBtnReservas").style.display = "block";
            document.getElementById("cajaBtnTipos").style.display = "block";
            document.getElementById("cajaBtnUsuarios").style.display = "block";
            document.getElementById("cajaBtnViajes").style.display = "block";
        } else {
            contenidoHome.html('<i class="fa-solid fa-spinner fa-spin" style="color: #31af4b;font-size:200px;margin-top:10%;"></i>');
            // El botón no está activo, se debe cargar la vista parcial
            $.ajax({
                url: "@Url.Action("DocumentacionHttp", "Home")",
                type: 'GET',
                success: function (data) {
     
                    contenidoHome.html(data);
                    btnReservas.classList.add("active");
                },
                error: function () {
                    console.log("error");
                }
            });
        }
    });
</script>